b64==0.4
beautifulsoup4==4.9.3
bs4==0.0.1
cached-properties==0.7.4
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cssselect2==0.4.1
defusedxml==0.7.1
idna==2.10
lxml==4.6.3
Pillow==9.0.0
pycparser==2.20
requests==2.25.1
soupsieve==2.2.1
tinycss2==1.1.0
urllib3==1.26.5
webencodings==0.5.1
